<header class="container hero">
   <h2 class="heading">{{{author}}}</h2>
</header>

<section class="container">
   <div class="carousel">
    <a class="carousel-item" href="#one!">{{{author}}}</a>
    <a class="carousel-item" href="#two!">{{{author}}}</a>
    <a class="carousel-item" href="#three!">{{{author}}}</a>
    <a class="carousel-item" href="#four!">{{{author}}}</a>
    <a class="carousel-item" href="#five!">{{{author}}}</a>
  </div>
</section>